.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-green);
  border: 2px solid var(--color-primary-green);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: var(--color-secondary-green);
    background-color: transparent;
  }
}
