.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url('../images/Footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url('../images/bread-small-mobile.png');
    width: 100px;
    height: 90px;
    right: 0;

    @media screen and (min-width: $bp-tablet) {
      left: 0;
      right: auto;
      width: 180px;
      height: 120px;
      background-image: url('../images/bread-small.png');
    }
  }

  &::after {
    background-image: url('../images/bread-big-mobile.png');
    width: 85px;
    height: 205px;
    top: 0;
    left: 0;

    @media screen and (min-width: $bp-tablet) {
      right: 0;
      top: auto;
      left: auto;
      width: 380px;
      height: 190px;
      background-image: url('../images/bread-big.png');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__adress {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      text-align: left;
      flex-basis: 50%;
    }
  }

  &__logo {
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__adress-list,
  &__adress-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
  }

  &__adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }

  &__adress-link:hover {
    color: var(--color-primary-green);
  }

  &__socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__socials-icon {
    fill: var(--color-primary-light);
  }

  &__socials-icon:hover {
    fill: var(--color-primary-green);
  }

  &__adress-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }

  &__adress-icon {
    fill: var(--color-primary-light);
  }

  &__adress-icon:hover {
    fill: var(--color-primary-green);
  }
}
